#image {
    display: inline-flex;
    justify-content: center;
}

.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    img {
        width: 100%;
    }
    margin-bottom: -1rem;
    margin-top: -0.75rem;
}
