@page {
    size: Letter;
    margin: 0;
}

html, body, main, section, header, ul, p, h1, h2, h3, h4 {
  font-size: 10pt;
  margin: 0; padding: 0;
  font-family: {{{fontList 'default'}}};
}

hr {
  color: {{{color 'outline'}}};
}

body {
    height: 100%;
    display: flex;
    font-family: {{{fontList 'heading1'}}};
    color: {{{color 'text'}}};
    background-color: {{{color 'background'}}};
}

html {
    color: rgb(31, 31, 31);
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    height: 100%;
}

h2 {    
    color: {{{color 'accent'}}};
    font-size: 12pt;
    text-transform: uppercase;
}
h3 {
    color: {{{color 'primary'}}};
    font-weight: 300;
    font-size: 10pt;
}
h4 {
    color: {{{color 'text'}}};
    font-size: 10pt;
}

.container {
    float: left;
    width: auto;
    height: 100%;
}
.container section {
  padding: 10px;
}

.left {
  width: 25%;
  color: {{{color 'background'}}};
  background-color: {{{color 'primary'}}};
}
.left h1, .left h2 {
  color: {{{color 'background'}}};
  text-align: center;
}
.left h1.name {
  font-size: 24pt;
}
.left a {
  color: {{{color 'links'}}};
}
.email, .website, .phone {
  font-size: 11pt;
}
[class^="icon-"] {
  padding-right: 5px;
  color: {{{color 'background'}}};
}
#summary {
  margin-top: -1rem;
}

.center {
  width: 50%
}
.center a {
  color: {{{color 'primary'}}};
}

.right {
  width: 25%;
  border-left: 2px solid {{{color 'outline'}}};
}

.inline {
  display: inline-flex;
}
.inline h3 {
  margin-right: auto;
}
span.tenure {
  float: right;
  font-size: 8pt;
  font-weight: bold;
  color: {{{color 'text'}}};
}

#education-div, #employment-div {
  margin-top: 0.25rem;
}