@page {
    size: Letter;
    margin: 0;
}

hr {
  color: {{{color 'outline'}}};
}

body {
    font-size: 10pt;
    color: {{{color 'text'}}};
    background-color: {{{color 'background'}}};
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: {{{fontList 'default'}}};
}

html {
    color: rgb(31, 31, 31);
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    height: 100%;
}

h2 {    
    color: {{{color 'accent'}}};
    font-size: 16pt;
    text-transform: uppercase;
}
h3 {
    color: {{{color 'primary'}}};
    font-weight: 300;
    font-size: 14pt;
}
h4 {
    color: {{{color 'text'}}};
    font-size: 13pt;
}

.container {
    float: left;
    width: auto;
    height: 100%;
}
.container section {
  padding: 15px;
}

.left {
  width: 25%;
  color: {{{color 'background'}}};
  background-color: {{{color 'primary'}}};
}
.left h2 {
  color: {{{color 'background'}}};
  text-align: center;
}
.left h2.name {
  font-size: 20pt;
}
.left #image {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.left a {
  color: {{{color 'links'}}};
}
.email, .website, .phone {
  font-size: 11pt;
}
[class^="icon-"] {
  padding-right: 5px;
}
section #summary {
  margin-top: -1rem;
}

.center {
  width: 50%
}
.center a {
  color: {{{color 'primary'}}};
}
span.tenure {
  margin-top: -1rem;
}

.right {
  width: 25%;
  border-left: 2px solid {{{color 'outline'}}};
}