{{#has 'info.brief'}}
<hr>
<section id="summary">
  {{#> header-info }}
  {{> header-icon _title="About" _section="about" }}
  {{/header-info}}
  {{#> body-info }}
  {{{ r.info.brief }}}
  {{/body-info}}
</section>
{{/has}}