{{#section "interests"}}
<hr>
<section id="interests">
  {{#> header-interests }}
  {{> header-icon _title="INTERESTS" _section="interests" }}
  {{/header-interests}}

  <ul class="list-unstyled">
    {{#each r.interests}}
    {{#> body-interests }}
    <li class="card">
      <div class="skill-info">
        <b>{{ name }}</b>
        <div class="labels">
          {{#if keywords}}
          {{#each keywords}}
          <div class="label-keyword">
            {{ this }}
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
      {{/body-interests}}
      {{/each}}
  </ul>
</section>
{{/section}}