{{#section "skills"}}
<section id="skills">
  {{#> header-skills }}
  {{> header-icon _title="SKILLS" _section="skills" }}
  {{/header-skills}}

  <div class="template-body">
    {{#each r.skills.sets}}
    {{#> body-skills }}
    <span class="comma">
      {{ name }}
    </span>
    {{/body-skills}}
    {{/each}}
  </div>
</section>
{{/section}}